# Hospitalization of People with Asthma in California

> ## Declan McGrath

### Introduction

Background of asthma and contextualization of California and asthma.

In [5]:
import pandas as pd
import numpy as np

df = pd.read_csv("C:/Users/decla/OneDrive/PUBH 1142/asthmadata.csv")

### Data Verification

In [6]:
df.columns

Index(['COUNTY', 'YEAR', 'STRATA', 'STRATA NAME', 'AGE GROUP',
       'NUMBER OF ED VISITS', 'AGE-ADJUSTED ED VISIT RATE', 'COMMENT'],
      dtype='object')

- COUNTY: county of California or California itself
- YEAR: year data was taken
- STRATA: demographics of population data taken from
- STRATA NAME: specific category of demographic
- AGE GROUP: ages represented in ranges (eg. 0-17, 18+) or an absolute (all ages)
- NUMBER OF ED VISITS: amount of times people with asthma went to to emergency room
- AGE-ADJUSTED ED VISIT RATE: standardized rate that allows for populations of different age distributions to be compared to each other
- COMMENT: clarifications left by the researchers on certain data points

In [7]:
df.head()

,COUNTY,YEAR,STRATA,STRATA NAME,AGE GROUP,NUMBER OF ED VISITS,AGE-ADJUSTED ED VISIT RATE,COMMENT
0,California,2015,Total population,All ages,All ages,"191,904",50.4,NaN
1,Alameda,2015,Total population,All ages,All ages,"9,939",64.3,NaN
2,Alpine,2015,Total population,All ages,All ages,0,0.0,NaN
3,Amador,2015,Total population,All ages,All ages,196,58.4,NaN
4,Butte,2015,Total population,All ages,All ages,"1,044",50.2,NaN

In [8]:
df.dtypes

COUNTY                         object
YEAR                            int64
STRATA                         object
STRATA NAME                    object
AGE GROUP                      object
NUMBER OF ED VISITS            object
AGE-ADJUSTED ED VISIT RATE    float64
COMMENT                        object
dtype: object

In [10]:
edvr = df['AGE-ADJUSTED ED VISIT RATE']
edvr.describe()

count    3768.000000
mean       51.402946
std        73.158489
min         0.000000
25%        24.875000
50%        40.200000
75%        61.700000
max      3531.000000
Name: AGE-ADJUSTED ED VISIT RATE, dtype: float64