# Child Fatality Trends by State

> ## Declan McGrath

### Introduction

Talk about what child fatality is and why it's important in the US.

### Data Initialization

In [1]:
# First, the necessary packages must be imported into Python
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

# Next, the dataset is read to go by the shorthand of 'df'
df = pd.read_csv("https://raw.githubusercontent.com/declan-mcgrath/PUBH1142/main/Child_Fatalities_Trend_20240409.csv")

### Data Verification

In [2]:
df.columns

Index(['State', '2015', '2016', '2017', '2018', '2019'], dtype='object')

In [3]:
df.head()

        State   2015   2016   2017   2018   2019
0     Alabama   13.0   26.0   28.0   43.0   34.0
1      Alaska    5.0    1.0    2.0    2.0    1.0
2     Arizona   51.0   48.0   35.0   48.0   33.0
3    Arkansas   40.0   42.0   37.0   44.0   35.0
4  California  127.0  137.0  147.0  145.0  149.0

In [4]:
df.dtypes

State     object
2015     float64
2016     float64
2017     float64
2018     float64
2019     float64
dtype: object