# Week 7 Quiz

> ### 1.

In Python, a list can be defined as a built-in data structure that allows for the storage of a collection of items. Lists can include floating values, integers, or strings.

> ### 2.

In [1]:
# to access the third element of a list, execute the following code:
my_list = [1, 2, 3, 4, 5]
my_list[2]

3

> ### 3.

In [2]:
# use the append or extend method to add an element to a list
my_list.extend("new_item")
my_list

[1, 2, 3, 4, 5, 'n', 'e', 'w', '_', 'i', 't', 'e', 'm']

> ### 4.

In [3]:
# tuples are created by simply placing elements after the desired variable for the tuple
tuple1 = "apple", "banana", "cherry"
tuple1

('apple', 'banana', 'cherry')

> ### 5.

In [4]:
# to access the first element of a tuple, execute the following code:
tuple1[0]
tuple1

('apple', 'banana', 'cherry')

> ### 6.

In [5]:
# here is how you define a dictionary with the given variables
my_dict = {"name":"John Doe", "age":30}
my_dict

{'name': 'John Doe', 'age': 30}

> ### 7.

In [6]:
# the value of "name" can be retrieved with the values method
my_dict["name"]
my_dict

{'name': 'John Doe', 'age': 30}

> ### 8.

In [7]:
# a value must be assigned to 'age'
my_dict["age"] = 35
my_dict

{'name': 'John Doe', 'age': 35}

> ### 9.

In [8]:
# to add another key:value, you assign a new key to a new value
my_dict["city"] = "New York"
my_dict

{'name': 'John Doe', 'age': 35, 'city': 'New York'}

> ### 10.

In [9]:
# a set is created with values contained by these {}
my_set = {"apple", "banana", "cherry"}
my_set

{'apple', 'banana', 'cherry'}

> ### 11.

In [10]:
# the add method is used to add items to sets
my_set.add("orange")
my_set

{'apple', 'banana', 'cherry', 'orange'}

> ### 12.

In [11]:
# the remove method is used to take away an item from a set
my_set.remove("banana")
my_set

{'apple', 'cherry', 'orange'}

> ### 13.

In [12]:
# measure length of a list with len method
my_list = [1, 2, 3, 4, 5]
len(my_list)

5

> ### 14.

In [13]:
# the list will be repeated
my_list = [1, 2, 3]
my_list * 2

[1, 2, 3, 1, 2, 3]

> ### 15.

In [14]:
# the set will only have one of each value
set([1,2,2,3,4,4,4,5,5])

{1, 2, 3, 4, 5}