# Week 8 Quiz

> ### 1.

In [3]:
# the pandas library can be imported into Python like this:
import pandas as pd
# now, pandas can be used as the shorthand pd

> ### 2.

In [ ]:
# the pandas.read_csv function is used to read CSV files in pandas
df = pd.read_csv('data.csv')

> ### 3.

In [ ]:
# the head function prints the first 5 rows of a dataframe
df.head()

> ### 4.

In [ ]:
# the number of rows and columns can be found in a dataframe with the shape attribute
df.shape

> ### 5.

In [ ]:
# the names of the columns in a dataframe is displayed through the columns attribute
df.columns

> ### 6.

In [ ]:
# summary information of a dataframe is collected with the dtypes attribute
df.dtypes

> ### 7.

In [ ]:
# a subdataframe must be created to display the rows in column A of df that are greater than 5
sdf_A_greater_than_5 = df.loc[A > 5]
sdf_A_greater_than_5

> ### 8.

In [ ]:
# columns A and B can be selected in df by using loc
AB = df.loc[:, ['A', 'B']]

> ### 9.

In [ ]:
# column A can be renamed to Alpha with the following code
Alpha = df['A']

> ### 10.

In [ ]:
# any 999 values can be replaced with NaN in df like this
missing_df = pd.read_csv('data.csv', na_values=[999, 'Nil', 'Missing'])
missing_df

> ### 11.

In [ ]:
# rows in df that are missing data can be dropped with the dropna method
complete_df = df.dropna()
complete_df

> ### 12.

In [ ]:
# all the missing values in df can be replaced with 0 with the fillna method
df_0 = df.fillna(0, inplace=True)
df_0

> ### 13.

In [ ]:
# the mean of column A is calculated with the mean function
Alpha.mean()

> ### 14.

In [ ]:
# column C can be created as the sum of A and B with the following code
df['C'] = df['A'] + df['B']
df

> ### 15.

In [ ]:
# the to_csv method can be used to save df to a new CSV file
df.to_csv('output.csv')